.App {
    text-align: center;
}

.App-logo {
    height: 20vw;
    width: 20vw;
    pointer-events: none;
}
#div-red {
    background: red;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite /*forwards*/ 5s /*linear*/ ease;
    }
}

#div-red {
    background: blue;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    0% {
        /*transform: rotate(0deg);*/
        background: yellow;
        opacity: 1;
        -webkit-tranfsorm: scaleX(1);
    }
    50% {
        background: red;
        opacity: 0;
        -webkit-tranfsorm: scaleX(1);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
        background: orange;
        -webkit-tranfsorm: scaleX(0.5);
    }
}
